
/* body * {
    outline: 1px solid red;
} */
#wrapper {
    width: 1100px;
    height: 800px;
    background-color: rgb(25, 53, 96);
    margin: 0px auto;
    padding: 10px;
}
#header {
    min-height: 30px;
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 1px 1px 1px 20px; 
    margin-bottom: 15px;
    font-size: 20px;
}
#left-nav {
    min-height: 200px;
    background-color: rgba(6, 129, 117, 0.714);
    border-radius: 15px;
    padding: 15px 5px 20px 15px;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-right: 15px;
}
.leftnav-text {
    color: turquoise;
}
#main {
    min-height: 450px;
    width: 818px;
    background-color: black;
    color: white;
    padding: 5px 5px 5px 20px;
    border-radius: 20px;
    display: inline-block;
}
section h3 {
    font-size: 25px;
}
#footer {
    min-height: 30px;
    background-color: grey;
    color: rgb(221, 207, 245);
    border-radius: 20px;
    margin-top: 10px;
    padding: 2px 2px 2px 10px;
}
.span-text {
    color: rgb(47, 153, 233);
}