
/* body * {
    outline: 1px solid red;
} */
#wrapper {
    width: 970px;
    /* height: 800px; */
    background-color: #1c335e;
    margin: 0px auto;
    padding: 10px;
}
#header {
    min-height: 30px;
    background-color: #cf3035;
    border-radius: 15px;
    padding: 8px 1px 8px 20px; 
    margin-bottom: 15px;
    font-size: 20px;
}
#header h1 {
    color: #c2d5e9;
    margin: 0px;
}
#left-nav {
    width: 190px;
    background-color: #297c8c;
    border-radius: 15px;
    padding: 15px 5px 20px 15px;
    display: inline-block;
    vertical-align: top;
    color: white;
    margin-right: 15px;
}
.leftnav-text {
    color: #68dbe4;
    font-size: 13px;
}
#left-nav ul {
    margin: 0px;
}

#main {
    /* min-height: 450px; */
    width: 713px;
    background-color: #0e1822;
    color: #c2d6eb;
    padding: 5px 5px 5px 20px;
    border-radius: 20px;
    display: inline-block;
}
section h3 {
    font-size: 25px;
}
#footer {
    min-height: 30px;
    background-color: grey;
    color: #b2c5d8;
    border-radius: 20px;
    margin-top: 10px;
    padding: 2px 2px 2px 10px;
}
.span-text {
    color: rgb(47, 153, 233);
}